<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        {{!-- Page logo --}}
        <div class="logo">
            <a href="/">
                <img src="/images/logo1.png" alt="page logo">
            </a>
        </div>

        {{!-- Navigation search bar--}}
        <div class="search_bar">
            <img src="/images/search-icon.png">
            <input type="text" id="searchInput" placeholder="Search...">
        </div>

        {{!-- Nav login and dropdown button --}}
        <ul class="nav_list">
            {{#if user}}
            <li>
                <a href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="login">
                <a href="/login">Login</a>
            </li>
            {{/if}}
            <li>
                <div class="dropdown">
                    <button class="dropbtn">...</button>
                    <div class="dropdown-content">
                        <a href="/register">Register</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    
    <div id="page_body">
        {{{body}}}
    </div>
    

    <footer>
        <div id="footer">
        <img src="images/footer-logo.png">
        <span> &copy 2023 UOA-PGCIT-S2 Group 2</span>
        </div>
    </footer>
</body>

</html>