<link rel="stylesheet" href="/css/calendar.css">

<div id="calendar-container">
    <div id="calendar-header">
        <button class="btn prev-month" id="prev" onclick="prevMonth()">&#9664;</button>
        <span id="current-date" onclick="generateArticlesByMonth()"></span>
        <button class="btn next-month" id="next" onclick="nextMonth()">&#9654;</button>
    </div>
    <table id="calendar-dates">
        <thead>
            <tr>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>
        </thead>
        <tbody id="calendar-body">
        </tbody>
    </table>
</div>
<div id="alert-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-text"></p>
    </div>
</div>

<form action="/filtered-articles" method="GET">
    <label for="startDate">Start Date:</label>
    <input type="date" name="startDate" id="startDate">

    <label for="endDate">End Date:</label>
    <input type="date" name="endDate" id="endDate">

    <button type="submit">Filter Articles</button>
</form>


<script src="/script/calendar.js"></script>