#home_container {
    font-family: Arial, Helvetica, sans-serif;
}

#greetingDiv {
    text-align: left;
    margin: auto;
    font-size: x-large;
}

#top5_articles_container{
    height: 300px;
    max-width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 10px;
}


.each-top5content{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 150px;
    background-color: rgba(92, 92, 92, 0.5);
}

.each-top5Articles{
    min-width: 500px;
}

.btn_readmore{
    border: transparent;
    background-color: rgb(255, 255, 255, 0);
    display: flex;
    align-self: self-end;
    width: 150px;
}

#readMoreLink {
    text-decoration: none;
    color: white;
    display: flex;
    justify-self: flex-end;
}

#all_articles{
    margin-top: 350px;
}

.each-top5Articles img{
    width: auto;
}

#top5_article_title{
    color: rgb(255, 255, 255);
}

#each-articleData {
    margin: 20px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#article_description {
    background-color: white;
    border-bottom: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    font-size: smaller;
    color: grey;
    max-height: 200px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgb(39, 39, 39, 0.2);
}

#article_title {
    margin: 10px;
    font-weight: bold;
    font-size: larger;
}

#main_block_title {
    margin: 30px;
}

#author_icon img {
    width: 50px;
    margin: auto
}

#author_name {
    color: #357a84
}

.btn_sub_option {
    cursor: pointer;
    background-color: rgb(255, 255, 204, 0);
    border: 0px;
    display: inline-block;
    background-color: #70adb0;
}

.btn_sub_option a {
    text-decoration: none;
    color: black;
}


.btn_sub_option a:hover {
    color: #ffffff;
    background-color: #70adb0;
}

.btn_subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-button>img {
    width: 15px;
    margin: auto;
    color: white;
}

#author_name:hover {
    color: rgb(0, 205, 205);
}

.subscribe-button:hover {
    background-color: #70adb0;
}

img {
    margin: 20px;
}

/* Genre section */
#genre-container {
    border-bottom: 1px solid lightgrey;
}

#genre-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#genre-list li a {
    color: black;
}

#genre-list li a:hover {
    color: blue;
}