#page_body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


#article-div {
    max-width: 70%;
    max-height: 100%;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#article-content {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px;
}
