:root {
    --user-name-size: 30px;
    --infor-label-size: 20px;
}

.nav-panel {
    width: 100%;
    border-bottom: 1.5px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 150px auto auto auto 20% auto;
    grid-template-areas: 'logo . search-bar . calender . user-related';
    align-items: center;
}



.logo {
    grid-area: logo;
    display: flex;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif Helvetica, sans-serif;
}

.logo-text {
    font-size: 22px;
    font-weight: 720;
    margin-left: 0.05em;
    margin-right: 0.1em;
    color: rgb(6, 6, 91);
    align-self: center;
}

#user-releted-function {
    grid-area: user-related;
    display: flex;
    justify-content: end;
}

#search_bar_container {
    grid-area: search-bar;
    z-index: 3;
}

#calender-div {
    grid-area: calender;
}

#search-calender {
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .nav-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        /* margin: 10px 0px 10px 0px; */
        /* grid-template-rows: 50% 50%;
        grid-template-columns: 150px auto auto auto;
        grid-template-areas:
        "logo . user-related user-related"
        "search-bar search-bar . calender" */
    }
    .nav-panel > * {
        margin: 8px 0px 8px 0px;
    }

    #calender-div {
        position: inherit;
    }
    /* #user-releted-function{
        grid-area: user-related;
    }*/
}

#search-calender {
    transform: scale(1.2);
}
