:root {
    --genre-background-color: #f2f2f2;
    --light-text-color: #6b6b66;
    --heading-text-color: #242424;
}

#page_body {
    align-items: center;
    
}

#profile_container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    width: 1100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    /* border: 1px solid red; */
}

#profile_icon {
    display: flex;
    justify-content: center;

}

#profile_icon img {
    width: 150px;
    margin: 0;
}


#profile_name {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
}

#container {
    margin: 20px;
    height: 100%;
    max-width: 1000px;

}

#profile_articles_container {
    padding: 20px;
    border-left: 1px solid lightgrey;
}

.subscribe-button {
    padding: 10px;
    width: 60%;
    margin: 10px 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: bold;
}

.subscribe-button:hover {
    background-color: greenyellow;
}

#profile_related_info {
    width: 100%;
    padding: 0;
}

#profile_DOB,
#profile_email,
#profile_subscribers,
#profile_articles_number {
    padding: 10px;
    font-size: 16px;
}

#profile_name {
    font-size: 28px;
    padding: 15px;
    border-bottom: 1px solid var(--light-text-color);
}

#profile_subscribers,
#profile_articles_number {
    text-align: center;
}

#article-img img {
    width: 150px;
}

#article-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid lightgrey; */
}

.article {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.article-link {
    text-decoration: none;
    color: black;

}

.genre-link {
    color: black;
}

.article-left {
    position: relative;
    padding: 0 20px;
}

.profile_article_description {
    max-height: 200px;
    width: 600px;
    overflow: hidden;
    margin: 15px 0;
}

.profile_article_description>* {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    overflow: hidden;
}

.profile_article_title {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.6rem;
}

.profile_article_timestamp {
    color: var(--light-text-color);
}

.profile_article_genre {
    background-color: var(--genre-background-color);
    padding: 8px;
    border-radius: 20px;
    margin: 10px 0;
    display: inline-block;
    font-size: 14px;
}

