/* profile page css start
#profile_container {
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;

}

#profile_info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    border: 1px solid green;
}

#profile_icon img {
    width: 100px;
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);

    border-radius: 50%;
    padding: 5px;
}

#profile_name {
    font-weight: bold;
}

#profile_info>* {
    padding: 10px;
}

#profile_related_info {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 10px;
}

#profile_related_info img{
    width: 15px;
}

#profile_articles_container>* {
    padding: 10px;
} */
/* profile page css end*/

#page_body {
    align-items: center;

}

.article {
    margin: 10px 0;
    border: 1px solid red;
}

#profile_container {    
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    width: 1100px;
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#profile_icon {
    display: flex;
    justify-content: center;
    
}

#profile_icon img {
    width: 200px;
    margin: 0;
}


#profile_name {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
}

#profile_articles_container img{
    width: 300px;
}

#container {
    margin: 20px;
    height: 100%;
    border: 1px solid red;
    max-width: 1000px;
    
}

#container div {
    border: 1px solid green;
}

#profile_articles_container {
    padding: 20px;
    border: 1px solid blue;
}

.subscribe-button {
    border: 1px solid green;
    padding: 10px;
    width: 100%;
}

#profile_related_info {
    width: 100%;
    padding: 0;
}

#profile_DOB, #profile_email, #profile_name, #profile_subscribers, #profile_articles_number {
    padding: 10px;
    font-size: 18px;
}

