nav {
    background-color: white;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
}

.nav_list {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 200px;
    list-style: none;
    margin-right: 20px;
}

.logo img {
    width: auto;
    height: 60px;
}

.search_bar {
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    display: flex;
    overflow: hidden;
}

.search_bar img {
    align-self: center;
    margin: 5px;
    width: 15px;
}

.search_bar input {
    width: 500px;
    height: 28px;
    border: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    width: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    background-color: bisque;
    z-index: 2;

}

.dropdown-content a {
    display: block;
    height: 20px;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#page_body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#footer {
    margin-top: auto;
    display: flex;
    padding: 10px;
    background-color: #163057;
    color: #D87957;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#footer img {
    width: auto;
    height: 30px;
}

#footer > span {
    display: flex;
    align-self: center;
    font-size: 12px;
}

/* register page css start*/
#register_page_body {
    width: 700px;
    display: flex;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#register_title {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 30px;
}

#register_title a {
    color: rgb(12, 175, 17);
    text-decoration: none;
}

#register_title p {
    color: rgb(105, 105, 105);
}

#register_title a:visited {
    color: rgb(12, 175, 17);
}

#register_page_container>p {
    padding: 0px 30px 0px 30px;
}

#register_fillinbox {
    padding: 0px 30px 0px 30px;
}

#register_fillinbox>div {
    padding: 10px 0px 10px 0px;
}

#register_page_container button {
    background-color: rgb(12, 175, 17);
    color: white;
    font-size: medium;
    border: transparent;
    cursor: pointer;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#register_button {
    display: flex;
    justify-content: center;
}
/* register page css end*/

/* login page css start*/
#login_toast {
    color: rgb(12, 175, 17);
}

#login_container {
    width: 400px;
    display: flex;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#login_username {
    padding-bottom: 20px;
}

#login_body_container button {
    background-color: rgb(12, 175, 17);
    color: white;
    font-size: medium;
    border: transparent;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

#login_button {
    display: flex;
    justify-content: center;
}

#login_body_container a {
    color: rgb(12, 175, 17);
    text-decoration: none;
}

#login_body_container p {
    color: rgb(105, 105, 105);
    margin-bottom: 30px;
}

#login_body_container a:visited {
    color: rgb(12, 175, 17);
}
/* login page css end*/

#home_container {
    display: grid;
    margin: 20px;
    padding: 5px;
    /* grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "top5 top5 top5 top5"
        "articles articles articles sidebar"; */
}

/* #category_nav {
    grid-area: header;
}

#top5_articles {
    grid-area: top5;
    height: 400px;
}

#all_articles {
    grid-area: articles;
    height: 800px;
    background-color: bisque;
} */

#sidebar {
    grid-area: sidebar;
    height: 50px;

}

#sidebar_title {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#specific_category_title {
    font-size: 20px;
}

/* sub page css start*/
#sub_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-areas:
        "subscription . subscriber";
    padding: 20px;
}

#subscription_container {
    grid-area: subscription;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

#subscription_title >*{
    display: flex;
    align-self: center;
    padding: 10px;
}

.subscription_rows {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
}

.subscription_rows a:hover {
    color: rgb(113, 113, 113);
}

.subscription_icon img{
    width: 40px;
}

.subscription_rows button{
    height: 25px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.subscription_rows button:hover{
    background-color: lightgray;
    cursor: pointer;
}

.subscriber_icon img{
    width: 40px;
}

.subscription_rows a{
    text-decoration: none;
    display: flex;
    color: black;
    gap: 10px;
}

.subscription_name {
    display: flex;
    align-self: center;
    font-size: 18px;
}

#subscriber_container {
    grid-area: subscriber;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#subscription_container>* {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#subscriber_container>* {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#sub_container input {
    width: 200px;
}

#subscriber_title >*{
    display: flex;
    align-self: center;
    padding: 10px;
}

.subscriber_name {
    display: flex;
    align-self: center;
    font-size: 18px;
}

.subscriber_rows {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
}

.subscriber_rows>a {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 10px;
}

.subscriber_rows>a:hover{
    color: rgb(113, 113, 113);
}

.subscriber_rows button{
    height: 25px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.subscriber_rows button:hover{
    background-color: lightgray;
    cursor: pointer;
}
/* sub page css end*/


/* profile page css start*/
#profile_container {
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
}

#profile_info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/profile-background.png");
    background-size: cover;
}

#profile_icon img {
    width: 100px;
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
    
    border-radius: 50%;
    padding: 5px;
}

#profile_name {
    font-weight: bold;
}

#profile_info>* {
    padding: 10px;
}

#profile_related_info {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 10px;
}

#profile_articles_container>* {
    padding: 10px;
}
/* profile page css end*/

/* register page css start*/
#icon_container {
    padding: 10px 30px 10px 30px;
}

#icon_select_container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    justify-content: center;
    margin-bottom: 10px;
    width: 600px;
    height: 400px;
    overflow: scroll;
}

#icon_select_container>* {
    display: flex;
    justify-content: center;
}

#icon_select_container img {
    width: 100px;
    padding: 5px;
}

#icon_select_container img:hover {
    background-color: lightgray;
    cursor: pointer;
}

:checked+label img {
    background-color: lightgray;
}

.icon_select>input {
    opacity: 0;
}

@media only screen and (max-width:800px) {
    #register_page_body {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    #icon_select_container {
        width: 100%;

    }
}
/* register page css end*/




#user_avatar {
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
    background-color: antiquewhite;
}

.each_posts {
    background-color: bisque;
    margin-bottom: 10px;
    padding: 10px;
}

.each_responses {
    background-color: orange;
    margin-bottom: 10px;
    padding: 10px;
}

/* ANAYTICS DASHBOARD START*/
.analyticsDashboard {
    background-color: rgb(241, 248, 248);
    margin-bottom: 20px;
}

#keyMetricsTitle {
    color: rgb(130, 130, 198);
    font-size: 60px;
}

.keyMetricsDiv {
    display: flex;
    margin: 20px;
}

.keyMetricsDiv>* {
    margin: auto;
    padding: auto;
    text-align: center;
}

#keyMetricsTitle {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.indvKeyMetrics {
    padding: 20px;
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
}

.divTitles {
    font-size: 30px;
}

#followersDiv {
    padding-left: 50px;
    padding-right: 50px;
    background: rgb(255,133,244);
    background: linear-gradient(90deg, rgba(255,133,244,1) 0%, rgba(252,176,69,1) 98%);
    color: aliceblue;
}

#followerNumber {
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 15px;
}

#commentsDiv, #likesDiv {
    padding: 40px;
    font-size: larger;
}

.articleWithComments {
    font-style: italic;
}

.topThreeDiv, #commentsDiv, #likesDiv {
    background-color: white;
    color: rgb(130, 130, 198);
}

.topThreeDiv {
    padding: 20px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

.topThreeDiv > * {
    margin: auto;
    padding: auto;
    text-align: center;
}

#topThreeTitle {
    margin: 20px;
    margin-top: 0;
    font-size: 40px;
}

/* .indvTopArticles {

} */

.furtherData {
    /* display: flex; */
    background-color: white;
    margin: 30px;
}

#dataIcon{
    margin:20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 5px;
}

#plot {
    margin: auto;
    margin-bottom: 50px;
    padding: auto;
    border: 2px solid white;
    border-radius: 10px;
}

/* ANAYTICS DASHBOARD END*/

/* home page css start*/
#author_icon img{
    width: 50px;
}

.btn_sub_option {
    cursor: pointer;
    background-color: rgb(255, 255, 204, 0);
    border: 0px;
    position: relative;
    display: inline-block;
}

.btn_subscribe{
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: 2;
    width: 100px;
}

.btn_subscribe img {
    width: 10px;
}