@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Allerta+Stencil&family=Bagel+Fat+One&family=Berkshire+Swash&family=Bubblegum+Sans&family=Calistoga&family=Chakra+Petch:wght@600&family=Chewy&family=Comfortaa:wght@300&family=Delicious+Handrawn&family=Dosis:wght@300;700&family=Handjet:wght@300&family=Pixelify+Sans&family=Press+Start+2P&family=Satisfy&family=Short+Stack&family=Tilt+Neon&family=Titan+One&family=VT323&family=Yatra+One&display=swap');    
    
nav{
    background-color: white;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
}

.nav_list {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 200px;
    list-style: none;
    margin-right: 20px;
}

.logo img {
    width: auto;
    height: 60px;
}

#viewAllDiv{
    text-align: center;
    background-color: pink;
}

.search_bar {
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 10px;
    height: 30px;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.search_bar div {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 15px;
}

.search_bar img {
    align-self: center;
    margin: 5px;
    width: 15px;
}

.search_bar input {
    width: 500px;
    height: 28px;
    border: transparent;
    margin-bottom: 20px;
}

#searchResultContainer{
    border: transparent;
    height: 100px;
    max-height: 100px;
    z-index: 1000;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    width: 30px;
}

.dropbtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    background-color: bisque;
    z-index: 2;

}

.dropdown-content a {
    display: block;
    height: 20px;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#page_body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#footer {
    margin-top: auto;
    display: flex;
    padding: 10px;
    background-color: #163057;
    color: #D87957;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#footer img {
    width: auto;
    height: 30px;
}

#footer>span {
    display: flex;
    align-self: center;
    font-size: 12px;
}

/* register page css start*/
#register_page_body {
    width: 700px;
    display: flex;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#register_title {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 30px;
}

#register_title a {
    color: rgb(12, 175, 17);
    text-decoration: none;
}

#register_title p {
    color: rgb(105, 105, 105);
}

#register_title a:visited {
    color: rgb(12, 175, 17);
}

#register_page_container>p {
    padding: 0px 30px 0px 30px;
}

#register_fillinbox {
    padding: 0px 30px 0px 30px;
    
}

#register_fillinbox>div {
    padding: 10px 0px 10px 0px;
}

#register_page_container button {
    background-color: rgb(12, 175, 17);
    color: white;
    font-size: medium;
    border: transparent;
    cursor: pointer;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#register_button {
    display: flex;
    justify-content: center;
}
/* register page css end*/

/* login page css start*/
#login_toast {
    color: rgb(12, 175, 17);
}

#login_container {
    width: 400px;
    display: flex;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#login_username {
    padding-bottom: 20px;
}

#login_body_container button {
    background-color: rgb(12, 175, 17);
    color: white;
    font-size: medium;
    border: transparent;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

#login_button {
    display: flex;
    justify-content: center;
}

#login_body_container a {
    color: rgb(12, 175, 17);
    text-decoration: none;
}

#login_body_container p {
    color: rgb(105, 105, 105);
    margin-bottom: 30px;
}

#login_body_container a:visited {
    color: rgb(12, 175, 17);
}
/* login page css end*/

/* #home_container {
    display: grid;
    margin: 20px;
    padding: 5px;
    /* grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "top5 top5 top5 top5"
        "articles articles articles sidebar"; 
}*/

/* #category_nav {
    grid-area: header;
}

#top5_articles {
    grid-area: top5;
    height: 400px;
}

#all_articles {
    grid-area: articles;
    height: 800px;
    background-color: bisque;
} */

#sidebar {
    grid-area: sidebar;
    height: 50px;

}

#sidebar_title {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#specific_category_title {
    font-size: 20px;
}

/* sub page css start*/
#sub_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-areas:
        "subscription . subscriber";
    padding: 20px;
}

#subscription_container {
    grid-area: subscription;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

#subscription_title>* {
    display: flex;
    align-self: center;
    padding: 10px;
}

.subscription_rows {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
}

.subscription_rows a:hover {
    color: rgb(113, 113, 113);
}

.subscription_icon img {
    width: 40px;
}

.subscription_rows button {
    height: 25px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.subscription_rows button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.subscriber_icon img {
    width: 40px;
}

.subscription_rows a {
    text-decoration: none;
    display: flex;
    color: black;
    gap: 10px;
}

.subscription_name {
    display: flex;
    align-self: center;
    font-size: 18px;
}

#subscriber_container {
    grid-area: subscriber;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#subscription_container>* {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#subscriber_container>* {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#sub_container input {
    width: 200px;
}

#subscriber_title>* {
    display: flex;
    align-self: center;
    padding: 10px;
}

.subscriber_name {
    display: flex;
    align-self: center;
    font-size: 18px;
}

.subscriber_rows {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
}

.subscriber_rows>a {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 10px;
}

.subscriber_rows>a:hover {
    color: rgb(113, 113, 113);
}

.subscriber_rows button {
    height: 25px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.subscriber_rows button:hover {
    background-color: lightgray;
    cursor: pointer;
}
/* sub page css end*/


/* profile page css start*/
#profile_container {
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
}

#profile_info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/profile-background.png");
    background-size: cover;
}

#profile_icon img {
    width: 100px;
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);

    border-radius: 50%;
    padding: 5px;
}

#profile_name {
    font-weight: bold;
}

#profile_info>* {
    padding: 10px;
}

#profile_related_info {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 10px;
}

#profile_related_info img{
    width: 15px;
}

#profile_articles_container>* {
    padding: 10px;
}
/* profile page css end*/

/* register page css start*/
#icon_container {
    padding: 10px 30px 10px 30px;
}

#icon_select_container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    justify-content: center;
    margin-bottom: 10px;
    width: 600px;
    height: 400px;
    overflow: scroll;
}

#icon_select_container>* {
    display: flex;
    justify-content: center;
}

#icon_select_container img {
    width: 100px;
    padding: 5px;
}

#icon_select_container img:hover {
    background-color: lightgray;
    cursor: pointer;
}

:checked+label img {
    background-color: lightgray;
}

.icon_select>input {
    opacity: 0;
}

@media only screen and (max-width:800px) {
    #register_page_body {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    #icon_select_container {
        width: 100%;

    }
}
/* register page css end*/




#user_avatar {
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
    background-color: antiquewhite;
}

.each_posts {
    background-color: bisque;
    margin-bottom: 10px;
    padding: 10px;
}

.each_responses {
    background-color: orange;
    margin-bottom: 10px;
    padding: 10px;
}

/* ANAYTICS DASHBOARD START*/
.analyticsContainer{
    background-color: black;
    margin: 0;
    border: 2px solid white;
    border-radius: 10px;
}

.analyticsDashboard {
    /* background-color: rgb(241, 248, 248); */
    margin: 20px;
    padding: auto;
    margin-bottom: 20px;

}

#keyMetricsTitleDiv{
    margin: 20px;
    /* margin-left: 30px;
    margin-right: 30px; */
    /* background-color:rgb(130, 130, 198);
    color: white;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px; */
    color: rgb(19, 27, 65);
}

#keyMetricsTitle {
    /* color: rgb(130, 130, 198); */
    /* font-family: "VT323"; */
    /* font-family: "ADLaM Display"; */
    text-shadow: #dafdff 5px 0 5px;
    margin-left: 50px;
    font-size: 60px;
}

.keyMetricsDiv {
    display: flex;
    margin: 20px;
    color: rgb(19, 27, 65);
}

.keyMetricsDiv>* {
    margin: auto;
    padding: auto;
    text-align: center;
    color: rgb(19, 27, 65);
}

#keyMetricsTitle {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.indvKeyMetrics {
    padding: 20px;
    margin: auto;
    border: 3px solid white;
    border-radius: 10px;
}

.divTitles {
    font-size: 30px;
}

#followersDiv {
    padding-left: 50px;
    padding-right: 50px;
    /* background: rgb(255, 133, 244);
    background: linear-gradient(90deg, rgba(255, 133, 244, 1) 0%, rgba(252, 176, 69, 1) 98%); */
    background-color: #7fc7cc;
    color: aliceblue;
}

#followerNumber {
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 15px;
}

#commentsDiv,
#likesDiv {
    padding: 40px;
    font-size: larger;
    color: rgb(19, 27, 65);
}

.articleWithComments {
    font-style: italic;
}

.topThreeDiv,
#commentsDiv,
#likesDiv, .furtherData {
    background-color: rgb(255, 255, 255);
    /* color: rgb(130, 130, 198); */
    color: rgb(19, 27, 65);

}

.topThreeDiv {
    padding: auto;
    padding-bottom: 400px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.topThreeDiv>* {
    margin: auto;
    padding: auto;
    text-align: center;
}

#topThreeTitle {
    margin: 20px;
    margin-top: 0;
    font-size: 40px;
}

.indvTopArticles {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
}

.eachTopArticle{
    margin: 40px;
    margin-left: 160px;
    padding: 30px;
    float: left;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.topArticlesIcons{
    margin: 10px;
}

.furtherData {
    /* display: flex; */
    background-color: white;
    margin: 30px;
}

#dataIcon {
    margin: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 5px;
}

.furtherData{
    border: 2px solid white;
    border-radius: 10px;
}

#plot {
    margin: auto;
    padding: 20px;
    /* margin-bottom: 100px;
    padding: 20px; */
}

/* ANAYTICS DASHBOARD END*/

/* WRITE ARTICLE PAGE */
.writeArticlePage {
    margin-top: 0;
}

.titleArea {
    margin: 20px;
    margin-top: 0;
    border-radius: 10px;
    background-color: rgb(248, 182, 247);
    padding: 15px;
}

#flexTitle {
    font-family: "Bagel Fat One";
    padding: 5px;
    text-align: center;
    font-size: 40px;
    color: rgb(240, 248, 253);
    border-radius: 15px;
    text-shadow: 3px 3px 1px #abeeff;
}

#whipTitle {
    font-family: "Berkshire Swash";
    padding: auto;
    padding-top: 0;
    margin: auto;
    margin-top: 0;
    text-align: center;
    font-size: 15px;
    color: rgb(250, 229, 232);
}

.formContainer {
    margin: 20px;
    border-color: white;
    border-radius: 10px;
    background-color: rgb(255, 252, 222);
    text-align: center;
}

#writeIcon {
    margin: auto;
    margin-top: 20px;
    padding: auto;
    padding-top: 20px;
    padding-left: 30px;
    text-align: center;
}

.inputAreas {
    margin: 20px;
    padding: 20px;
}

.inputTitles {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    color: #30cb9a;
    font-family: "Bubblegum Sans";
    font-size: 20px;
}

/* ANAYTICS DASHBOARD END*/
.allArticles{
    text-align: center;
    margin: auto;
    padding: auto;
}

.eachArticleDiv, .userProfileSnippet{
    text-align: center;
    margin: 30px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#readMoreDiv{
    margin: 10px;
}

#descriptionDiv{
    margin: 10px;
    font-style: italic;
}

#likes_icon{
    height: 20px;
    width: 20px;
}

#comments_icon{
    height: 20px;
    width: 20px;
}
/* home page css start*/
#author_icon img{
    width: 50px;
}

/* SRC:  */
#titleInput, #genreDropdown, #bioInput, #genderDropdown, #addressInput {
    position: relative;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 10px;

    *:not(span) {
        position: relative;
        display: inherit;
        border-radius: inherit;
        margin: 0;
        border: none;
        outline: none;
        padding: 0 .325em;
        z-index: 1;

        &:focus+span {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.dropdownTexts{
    color: rgb(120, 131, 255);
    font-family: "Comfortaa";
}

#write_article_content{
    border-radius: 10px;
}

/* PUBLISH BUTTON */
/* SRC: https://codepen.io/tylersticka/pen/MWVbdzo */
:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
  }
  
  button {
    appearance: none;
    background: blue;
    border: 0;
    color: #fff;
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    line-height: 1;
    padding: 1em 1.5em;
    position: relative;
    transition: filter var(--motion-duration);
  }
  
  button.articleWithComments {
    filter: brightness(1.1);
  }
  
  button:active {
    filter: brightness(0.9);
  }
  
  button > span {
    display: block;
    position: relative;
    transition: transform var(--motion-duration) var(--motion-ease);
    z-index: 1;
  }
  
  button:hover > span {
    transform: scale(1.05);
  }
  
  button:active > span {
    transform: scale(0.95);
  }
  
  button > svg {
    fill: #5e9ca0;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
  }
  
  button > svg > path {
    transition: var(--motion-duration) var(--motion-ease);
  }
  
  button:hover > svg > path {
    d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
  }
  
  button:active > svg > path {
    d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
  }

  #publishButton{
    margin: 10px;
  }
  
  /* ARTICLE LINKS */
  /* SRC: https://codepen.io/team/css-tricks/pen/gOXMgxR */
  #newArticleLink, #viewMyPostsLink{
    font-size: 15px;
    color: rgb(147, 137, 200);
    text-decoration: none;
  }
  
  #newArticleLink, #viewMyPostsLink{
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  #newArticleLink:hover, #viewMyPostsLink:hover {
    background-size: 0 3px, 100% 3px;
  }
  
/* WRITE ARTICLE PAGE ENDS */

/* MY PROFILE PAGE */

#profileTitleDiv{
    margin: 20px;
    /* margin-left: 50px; */
    padding: auto;
    text-align: center;
    /* padding-left: 400px;
    padding-right: 400px; */
    background-color: rgb(61, 143, 132);
    border: 2px solid white;
    border-radius: 10px;
}

#profileTitle{
    font-family: "ADLaM Display";
    font-size: 70px;
    color: #dffdff;
    text-shadow: #f5eaff 5px 0 5px;
}

.aboutAndFollowingDiv{
    display: flex;
}

#aboutUserAvatar{
    text-align: center;
    margin-left: 60px;
    padding-left: 60px;
}

/* WRITE ARTICLE PAGE ENDS */

/* MY PROFILE PAGE */



/* MY PROFILE PAGE */

#profileTitleDiv{
    margin: 20px;
    /* margin-left: 50px; */
    padding: auto;
    text-align: center;
    /* padding-left: 400px;
    padding-right: 400px; */
    background-color: rgb(61, 143, 132);
    border: 2px solid white;
    border-radius: 10px;
}
#aboutSection {
    color: rgb(0, 83, 124);
    padding: 20px;
    padding-right:500px;
    font-family: "ADLaM Display";
}
.aboutInfo{
    margin: 10px;
}

/* SRC: https://codepen.io/thebabydino/pen/QWMaPQb */
#aboutSection {
	--b: .3em; /* border width */
	--c: 3em; /* corner size */
	--r: 2em; /* corner rounding */
	position: relative;
	margin: 1em auto;
	border: solid var(--b) transparent;
	max-width: 10em;
	/* font: 1.25em ubuntu, sans-serif; */
	
	&::before {
		position: absolute;
		z-index: -1;
		inset: calc(-1*var(--b));
		border: inherit;
		border-radius: var(--r);
		background: linear-gradient(rgb(152, 255, 219), rgb(255, 188, 255), rgb(0, 13, 255)) border-box;
		--corner: 
			conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
				0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
		--inner: conic-gradient(red 0 0) padding-box;
		-webkit-mask: var(--corner), var(--inner);
		-webkit-mask-composite: source-out;
						mask: var(--corner) subtract, var(--inner);
		content: ''
	}
}

#followingTitle{
    text-decoration: rgb(0, 255, 145) wavy underline;
    text-shadow: #adffe4 10px 0 10px;
    color: rgb(97, 111, 165);
}

#profileFollowingDiv{
    margin-right: 150px;
    padding: 30px;
    border: 2px solid white;
    border-radius: 10px;
    background: rgb(138,173,196);
    background: linear-gradient(310deg, rgba(138,173,196,1) 0%, rgba(160,255,254,1) 55%, rgba(233,255,253,1) 100%);
    text-align: center;
    color: rgb(135, 148, 200);
    font-family: "ADLaM Display";
}

#inforForm{
    background-color: rgb(244, 255, 253);
    margin: 20px;
    text-align: center;
    color: rgb(77, 143, 140);
}

#updateTitle{
    font-size: 30px;
    font-family: "ADLaM Display";
}

.updateSubtitles{
    text-align: center;
    margin: 10px;
}

#addressInput{
    /* margin-left: 100px; */
}

#saveChanges{
    margin: 20px;
}

#deleteAccount{
    margin-bottom: 20px;
}