:root {
    --nav-user-size: 18px;
}

nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
}

.nav_list {
    display: flex;
    gap: 50px;
    align-items: center;

    list-style: none;
    margin-right: 20px;
}

.logo img {
    width: auto;
    height: 60px;
}

#viewAllDiv{
    text-align: center;
    background-color: pink;
}

.search_bar {
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 10px;
    height: 30px;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.search_bar div {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 15px;
}

.search_bar img {
    align-self: center;
    margin: 5px;
    width: 15px;
}

.search_bar input {
    width: 500px;
    height: 28px;
    border: transparent;
    margin-bottom: 20px;
}

#searchResultContainer{
    border: transparent;
    height: 100px;
    max-height: 100px;
    z-index: 1000;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.dropdown .dropbtn {
    background-color: transparent;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: black;

}

.dropdown .username {
    font-size: var(--nav-user-size);
    color: black;
    margin-right: 8px;
}

.dropbtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 2;
    top: 52px;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

#signout {
    padding: 12px 16px;
    border-top: 1px solid #ccc;
    color: #f00;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

#page_body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 20px;
}

#footer {
    margin-top: auto;
    display: flex;
    padding: 10px;
    background-color: #163057;
    color: #D87957;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#footer img {
    width: auto;
    height: 30px;
}

#footer>span {
    display: flex;
    align-self: center;
    font-size: 12px;
}

/* sub page css start*/
#sub_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-areas:
        "subscription . subscriber";
    padding: 20px;
}

#subscription_container {
    grid-area: subscription;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

#subscription_title>* {
    display: flex;
    align-self: center;
    padding: 10px;
}

.subscription_rows {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
}

.subscription_rows a:hover {
    color: rgb(113, 113, 113);
}

.subscription_icon img {
    width: 40px;
}

.subscription_rows button {
    height: 25px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.subscription_rows button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.subscriber_icon img {
    width: 40px;
}

.subscription_rows a {
    text-decoration: none;
    display: flex;
    color: black;
    gap: 10px;
}

.subscription_name {
    display: flex;
    align-self: center;
    font-size: 18px;
}

#subscriber_container {
    grid-area: subscriber;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#subscription_container>* {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#subscriber_container>* {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#sub_container input {
    width: 200px;
}

#subscriber_title>* {
    display: flex;
    align-self: center;
    padding: 10px;
}

.subscriber_name {
    display: flex;
    align-self: center;
    font-size: 18px;
}

.subscriber_rows {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
}

.subscriber_rows>a {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 10px;
}

.subscriber_rows>a:hover {
    color: rgb(113, 113, 113);
}

.subscriber_rows button {
    height: 25px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.subscriber_rows button:hover {
    background-color: lightgray;
    cursor: pointer;
}
/* sub page css end*/


/* profile page css start*/
#profile_container {
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
}

#profile_info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/profile-background.png");
    background-size: cover;
}

#profile_icon img {
    width: 100px;
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);

    border-radius: 50%;
    padding: 5px;
}

#profile_name {
    font-weight: bold;
}

#profile_info>* {
    padding: 10px;
}

#profile_related_info {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 10px;
}

#profile_related_info img{
    width: 15px;
}

#profile_articles_container>* {
    padding: 10px;
}
/* profile page css end*/

/* register page css start*/
#icon_container {
    padding: 10px 30px 10px 30px;
}

#icon_select_container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    justify-content: center;
    margin-bottom: 10px;
    width: 600px;
    height: 400px;
    overflow: scroll;
}

#icon_select_container>* {
    display: flex;
    justify-content: center;
}

#icon_select_container img {
    width: 100px;
    padding: 5px;
}

#icon_select_container img:hover {
    background-color: lightgray;
    cursor: pointer;
}

:checked+label img {
    background-color: lightgray;
}

.icon_select>input {
    opacity: 0;
}

@media only screen and (max-width:800px) {
    #register_page_body {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    #icon_select_container {
        width: 100%;

    }
}
/* register page css end*/




#user_avatar {
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
    background-color: antiquewhite;
}

.each_posts {
    background-color: bisque;
    margin-bottom: 10px;
    padding: 10px;
}

.each_responses {
    background-color: orange;
    margin-bottom: 10px;
    padding: 10px;
}

.allArticles{
    text-align: center;
    margin: auto;
    padding: auto;
}

#readMoreDiv{
    margin: 10px;
}

#descriptionDiv{
    margin: 10px;
    font-style: italic;
}

#likes_icon{
    height: 20px;
    width: 20px;
}

#comments_icon{
    height: 20px;
    width: 20px;
}



/* LINKS */
/* SRC: https://codepen.io/team/css-tricks/pen/gOXMgxR */
#newArticleLink {
    color: inherit;
    text-decoration: none;
  }
  
  #newArticleLink {
    background:
      linear-gradient(
        to right,
        rgb(58, 144, 144),
        rgb(176, 255, 255)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  #newArticleLink:hover {
    background-size: 0 3px, 100% 3px;
  }
  
